{% extends "quadcoredev/base.html" %}


{% block navbar %}

{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quadcoredev/main.css' %}">

<div class="container">
    <div class="jumbotron jumbotron-fluid" id="header">
      <div class="container" id="TITLE">
        <h1 class="display-5">ACTIVITY SECTION</h1>
      </div>
</div>
</div>


<div class="container-fluid">
    <div class="CARDS">
            <div class="row">
                <div class="col">
                        <div class="card" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Activity 1</h5>
                                <p class="card-text">– Importance of Visual Graphics Design</p>
                              </div>
                              <ul class="list-group list-group-flush">



                                    <li class="list-group-item">
                                                                   <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activityone">
                                  Activity Outline
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="activityone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Description</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <p>The introduction of Visual Graphics Design is explained by looking back in the ancient era where <i>Pictographs</i> are widely used</p>

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                    </li>


                                  <a href="activityOne"><li class="list-group-item">Answer</li></a>
                                  <a href="{% static 'quadcoredev/pdfs/Activity-1-Importance-of-Visual-Graphics-Design.pdf' %}"><li class="list-group-item">View Clean Copy</li></a>
                              </ul>
                              <div class="card-body">
                                <a href="/" class="card-link">Back</a>
                                <a href="#" class="card-link">Next</a>
                              </div>
                        </div>

                </div>


             <div class="col">
                        <div class="card" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Activity 2</h5>
                                <p class="card-text">– Designing Your Own Infographics<br><br></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                                                   <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activitytwo">
                                  Activity Outline
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="activitytwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Description</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <p>Infographic is one of the common ways of presenting data insights for non-technical people to understand in one glance. Having a skill on the matter is crucial for visual graphics design.</p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                  </li>

                                  <a href="activityTwo"><li class="list-group-item">Answer</li></a>
                                  <a href="{% static 'quadcoredev/pdfs/Activity-2-Designing-your-own-infographics.pdf' %}"><li class="list-group-item">View Clean Copy</li></a>
                              </ul>
                              <div class="card-body">
                                <a href="/" class="card-link">Back</a>
                                <a href="#" class="card-link">Next</a>
                              </div>
                        </div>

                </div>

             <div class="col">
                        <div class="card" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Activity 3</h5>
                                <p class="card-text">– Creating a Basis for Visualization<br><br></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                                                   <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activitythree">
                                  Activity Outline
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="activitythree" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Description</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                Aims in describing and visualizing the data chosen in the set of options given
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                  </li>
                                  <a href="{% static 'quadcoredev/pdfs/Act3.pdf' %}"><li class="list-group-item">Answer</li></a>
                                  <a href="{% static 'quadcoredev/pdfs/Activity-3-Basis-for-Visualization.pdf' %}"><li class="list-group-item">View Clean Copy</li></a>
                              </ul>
                              <div class="card-body">
                                <a href="/" class="card-link">Back</a>
                                <a href="#" class="card-link">Next</a>
                              </div>
                        </div>

                </div>

                     <div class="col">
                        <div class="card" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Activity 4</h5>
                                <p class="card-text">– Interpreting Visualized Data<br><br></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                                                   <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activityfour">
                                  Activity Outline
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="activityfour" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Description</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                               Analyzing and interpreting the data given about intenet usage in a given time span
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                  </li>
                                  <a href="{% static 'quadcoredev/pdfs/act4.pdf' %}"><li class="list-group-item">Answer</li></a>
                                  <a href="{% static 'quadcoredev/pdfs/Activity-4-Interpreting-Visualized-Data.pdf' %}"><li class="list-group-item">View Clean Copy</li></a>
                              </ul>
                              <div class="card-body">
                                <a href="/" class="card-link">Back</a>

                              </div>
                        </div>

                </div>
            </div>

                                                                            <!--Activities 5 to 8 -->
            <div class="row my-5">
                <div class="col">
                        <div class="card" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Activity 5</h5>
                                <p class="card-text">– Importance of Visual Graphics Design</p>
                              </div>
                              <ul class="list-group list-group-flush">



                                    <li class="list-group-item">
                                                                   <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activityone">
                                  Activity Outline
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="activityone" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Description</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <p>Real life application of data visualization</p>

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                    </li>


                                  <a href="{% static 'quadcoredev/pdfs/Quadcore-act-5.pdf' %}"><li class="list-group-item">Answer</li></a>
{#                                  <a href="{% static 'quadcoredev/pdfs/Activity-1-Importance-of-Visual-Graphics-Design.pdf' %}"><li class="list-group-item">View Clean Copy</li></a>#}
                              </ul>
                              <div class="card-body">
                                <a href="/" class="card-link">Back</a>
                                <a href="#" class="card-link">Next</a>
                              </div>
                        </div>

                </div>


             <div class="col">
                        <div class="card" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Activity 6</h5>
                                <p class="card-text">– Designing Your Own Infographics<br><br></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                                                   <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activitytwo">
                                  Activity Outline
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="activitytwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Description</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <p>Infographic is one of the common ways of presenting data insights for non-technical people to understand in one glance. Having a skill on the matter is crucial for visual graphics design.</p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                  </li>

                                  <a href="activityTwo"><li class="list-group-item">Answer</li></a>
{#                                  <a href="{% static 'quadcoredev/pdfs/Activity-2-Designing-your-own-infographics.pdf' %}"><li class="list-group-item">View Clean Copy</li></a>#}
                              </ul>
                              <div class="card-body">
                                <a href="/" class="card-link">Back</a>
                                <a href="#" class="card-link">Next</a>
                              </div>
                        </div>

                </div>

             <div class="col">
                        <div class="card" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Activity 7</h5>
                                <p class="card-text">– Creating a Basis for Visualization<br><br></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                                                   <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activitythree">
                                  Activity Outline
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="activitythree" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Description</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                Aims in describing and visualizing the data chosen in the set of options given
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                  </li>
                                  <a href="{% static 'quadcoredev/pdfs/Act3.pdf' %}"><li class="list-group-item">Answer</li></a>
{#                                  <a href="{% static 'quadcoredev/pdfs/Activity-3-Basis-for-Visualization.pdf' %}"><li class="list-group-item">View Clean Copy</li></a>#}
                              </ul>
                              <div class="card-body">
                                <a href="/" class="card-link">Back</a>
                                <a href="#" class="card-link">Next</a>
                              </div>
                        </div>

                </div>

                     <div class="col">
                        <div class="card" style="width: 18rem;">
                              <img src="..." class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Activity 8</h5>
                                <p class="card-text">– Interpreting Visualized Data<br><br></p>
                              </div>
                              <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                                                   <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#activityfour">
                                  Activity Outline
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="activityfour" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Description</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                               Analyzing and interpreting the data given about intenet usage in a given time span
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                  </li>
                                  <a href="{% static 'quadcoredev/pdfs/act4.pdf' %}"><li class="list-group-item">Answer</li></a>
{#                                  <a href="{% static 'quadcoredev/pdfs/Activity-4-Interpreting-Visualized-Data.pdf' %}"><li class="list-group-item">View Clean Copy</li></a>#}
                              </ul>
                              <div class="card-body">
                                <a href="/" class="card-link">Back</a>

                              </div>
                        </div>

                </div>
            </div>

    </div>
</div>




{% endblock %}