{% extends 'quadcoredev/base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'quadcoredev/activity.css' %}">

    <section id="one">

     <div class="container-fluid">

  <img src="{% static 'quadcoredev/2.1.jpg' %}" alt="" id="watercrisis">
    <p class="secondquestion">

            <i>QUESTIONS</i>
                What does the infographic talk about? : Statics of the water crises<br><br>

                Does the title speak properly of the content? : Yes<br><br>

                Is the design of the infographic match the theme of the message? : Yes<br><br>

                Are there any improvements needed for this? : The background is too plain<br><br>
            </p>

     </div>


    </section>



    <nav>

    </nav>



{% endblock %}